body {
  background-color: green;
}
h1 {
  color: white;
  background-color: red;
  text-align: center;
  font-size: 46px;
 border: 2px solid black;
 border-radius: 5px;
 margin-left: 400px;
 margin-right: 400px;
}

h2 {
  text-align: center;
  border: 2px solid black;
  background-color: white;
  margin-left: 400px;
  margin-right: 400px;
}

img {
  text-align: center;
  padding: 10px;
  height: 300px;
}

ul {
  color: white;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  background-color: red;
  margin-left: 500px;
  margin-right:500px;
}
